__pycache__/
*.py[cod]
*.log

.env
.env.*
!.env.example

api/server.*.log
games/
downloads/
*.7z

Rapfi-YixinBoard/

Rapfi-engine/pbrain-rapfi-windows-*
Rapfi-engine/pbrain-rapfi-macos-*
Rapfi-engine/pbrain-rapfi-linux-clang-avx512*
Rapfi-engine/pbrain-rapfi-linux-clang-avxvnni
